@import "tailwindcss";

@font-face {
  font-family: "EightBitDragon";
  src: url("./assets/EightBitDragon.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@theme {
  --font-dragon: "EightBitDragon", monospace;
}

@layer base {
  button {
    cursor: pointer;
  }
}